<header>
    <% if user_signed_in? %>
        <%= link_to "Bookers" , root_path %>
        <%= link_to user_path(current_user.id) do %>
            <i class="fas fa-home"></i>Home
        <% end %>
        <%= link_to users_path do %>
            <i class="fas fa-users"></i>Users
        <% end %>
        <%= link_to books_path do %>
            <i class="fas fa-book-open"></i>Books
        <% end %>
        <%= link_to destroy_user_session_path , method: :delete do %>
            <i class="fas fa-sign-in-alt"></i>logout
        <% end %>
    <% else %>
        <%= link_to "Bookers" , root_path %>
        <%= link_to root_path do %>
            <i class="fas fa-home"></i>Home
        <% end %>
        <%= link_to "homes/about" do %>
            <i class="fas fa-link"></i>About
        <% end %>
        <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus"></i>sign up
        <% end %>
        <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt"></i>login
        <% end %>
    <% end %>
</header>

<% if user_signed_in? %>
<body>
    <div class="container">  
        <div class="row">
            <div class="col-lg-5">
                <h2>User Info</h2>
                    <%= image_tag current_user.profile_image_id.url if current_user.profile_image_id? %>
                        <table class="table table-striped">
                            <td>name</td>
                            <td><%= current_user.name %>
                            <td>introduction</td>
                            <td><%= current_user.introduction %></td>
                        </table>
                    <%= link_to "Update", edit_user_path(current_user.id) %>

                <h2>New Book</h2>
                    <%= form_with model:book , local:true do |f| %>
                        <p>Title</p>
                            <%= f.text_field :title %>
                        <p>opinion</p>
                            <%= f.text_area :body %>
                        <%= f.submit "Create Book" %>
                    <% end %>
                    <% end %>
            </div>
        </div>
    </div>
</body>