
<div class="col-md-3">
    <% if user_signed_in? %>
<body>
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
        
                <h2>User Info</h2>
                    
                        <table class="table table-striped">
                            <td><%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "default_image.jpg" %></td>
                            <td>name</td>
                            <td><%= user.name %>
                            <td>introduction</td>
                            <td><%= user.introduction %></td>
                        </table>
                    <%= link_to "" , edit_user_path(user.id), class: "fas fa-user-cog" %>
                <h2>New book</h2>
                    <%= form_with model:book , local:true do |f| %>
                        <p>Title</p>
                            <%= f.text_field :title %>
                        <p>Opinion</p>
                            <%= f.text_area :body %>
                        <%= f.submit "Create Book" %>
                    <% end %>
                    <% end %>
</body>
</div>