<h1>User Info</h1>
<%= image_tag current_user.profile_image_id.url if current_user.profile_image_id? %>
<%= current_user.name %>
<%= current_user.introduction %>

<%= link_to "Update", edit_user_path(current_user.id) %>
<h2>New Book</h2>
<%= form_with model:@book , local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>opinion</p>
<%= f.text_area :body %>
<%= f.submit "Create Book" %>
<% end %>

<% @users.each do |user| %>
<tr>
<th><%= image_tag user.profile_image_id.url %></th>
<th><%= user.name %></th>
<th><%= link_to "show", user_path(user.id) %></th>
</tr><br>
<% end %>