<h1>User Info</h1>
<%= image_tag current_user.image.url if current_user.image? %>
<%= @user.name %>
<%= @user.introduction %>

<%= link_to "Update", edit_user_path(current_user.id) %>
<h2>New Book</h2>
<%= form_with model:@book , local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>opinion</p>
<%= f.text_area :body %>
<%= f.submit "Create Book" %>
<% end %>

<% @books.each do |book| %>
<tr>
<th><%= book.title %></th>
<th><%= book.body %></th>
<th><%= link_to "show", "/users/:id/show" %></th>
</tr><br>
<% end %>
