<%= current_user.name %>

<%= link_to "Update", "users/edit" %>
<h2>New Book</h2>
<%= form_with model:@book , local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>opinion</p>
<%= f.text_area :body %>
<%= f.submit "Create Book" %>
<% end %>

<% @books.each do |book| %>
<p><%= book.title %></p>
<p><%= book.body %></p>
<% end %>