<%= render partial: 'users/list', locals: { book: @book } %>

<%= notice %>

<tr>
<h2>Book detail</h2>
<th><%= link_to @user.name , user_path(@user.id) %></th>
<th><%= link_to @book.title %></th>
<th><%= @book.body %></th>
<% if @book.user_id == current_user.id %>
<th><%= link_to "edit", edit_book_path(@book.id) %></th>
<th><%= link_to "destroy", book_path(@book.id), method: :delete,  data: { confirm: '本当に消しますか？' }  %></th>
<% end %>
</tr><br>